<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   
   Element name: <%= elename%> <br>
   Element rate: <%= elerate%><br>
   Element description: <%= eledes%><br>
   <!--
   <a href="/addreview?eid=<%= eleid%>" class="addreview"><span  class="i-wrap ig-wrap-common i-war-star-common-wrap"><i  class="i ig-common i-war-star-common"></i> Write a Review</span></a>
    -->
  
          <a href="/addreview?eid=<%= eleid%>"><span class = "addreview">Write a review</span></a><br>
       
    
          
          
         
         
         
     
    
   
   
   
  
  </body>
</html>